
body {

background-color:rgba(0,123,255,.1);
max-width:100%;
height:auto;
overflow-x:hidden;

}

#navdiv {
    position:relative;
    background-color: white;
    height:50px;
    padding:0.5px;
    z-index:1;

   
}


#navdiv nav{
    background-color: rgba(0,123,255,.1);
    height:50px;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    position: fixed;
    width: 100%;
    /* font-weight:bold; */
    
    font-family: 'Oswald', sans-serif;
    padding:0.5px;
    
}

#home-nav {
    float:left;
    font-size: 22px;
    margin-top:5px !important;
    

}


#navdiv nav div{
    display: inline-block;
    align-items: center;
    /* border: 1px solid white; */
    margin-top: 10px;
    margin-left: 15px;
    margin-right:15px;
    
}

#navdiv nav div {
/* text-decoration: none; */
color:rgba(0,123,255);
transition: transform 0.35s;
transform:translate3d(0,0,0);
}

#navdiv nav div:hover{
text-decoration: none;
/* text-shadow: 0px -15px 2px whitesmoke; */
transform:translate3d(0,5px,0);
color:white;
}

#navdiv nav div span a {
    color:rgba(0,123,255);
}

#navdiv nav div span a:hover {
    text-decoration:none;
    color:rgba(0,123,255);
}


#hero-img {
    background-color: white;
    position: relative;
    z-index:0;
    height:550px;
    width:100%;
    background-image: url("../images/wooden-surface-blue.jpg");
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    animation-name:hero-move;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: ease-in-out;

}




@keyframes hero-move {
    from {
        transform: scale (1);

    }

    to {
        transform: scale(1.1);
        
    }
}


/* #hero-img section {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin:-20px;
} */


/* #hero-img img {
    width:140px;
    
    border-radius:10px;
} */


#animation-welcome {
    animation-name: welcome-move;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: relative;
    color:white;
    font-size: 25px;
    
}

@keyframes welcome-move {
    from {
        left: 0px;
        top:0px;
    }
    50% {

        left: 5%;
        top: 6.5%;
    }

    to {
        left:10%;
        top:13%;
        color:white;
        font-size: 25px;
        
    }
}



#animation-tomyresume {
    animation-name: tomyresume-move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: relative;
    color:white;
    padding-bottom:0px;
    

}

@keyframes tomyresume-move {
    from {
        left: 0px;
        top:0px;
    }
    50% {

        left: 7.5%;
        top: 5%;
    }

    to {
        left:15%;
        top:10%;
        color:white;
        font-size: 16px;
        
    }
}



#animation-name {
    animation-name: name-move;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: relative; 
    display: block;
    flex-wrap: wrap;
}

@keyframes name-move {
    from {
        left: inherit;
        top: inherit;
    }
    50% {

        left: 10%;
        top: 12.5%;
        color:transparent;
    }

    90% {
        color: transparent;
    }

    to {
        left:20%;
        top:25%;
        color: white;
        font-size: 20px;
        
    }
}


#animation-age {
    animation-name: age-move;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: relative;
    color:black; 
    display: block;
    flex-wrap: wrap;
}

@keyframes age-move {
    from {
        
    }
    50% {

        left: 10%;
        top: 15%;
        color:transparent;
    }

    75% {
        color:transparent;
    }

    to {
        left:20%;
        top:30%;
        color:white;
        font-size: 16px;
        
    }
}


#animation-race {
    animation-name: race-move;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: relative;
    color:black; 
    display: block;
    flex-wrap: wrap;
    
    
    
}

@keyframes race-move {
    from {
        
    }
    50% {

        left: 10%;
        top: 17%;
        color:transparent;
    }

    to {
        left:20%;
        top:35%;
        color:white;
        font-size: 16px;
        
        
    }
} 

/* unwanted portion

#animation-notebook {
    animation-name: notebook-move;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: absolute;
    
    

}

@keyframes notebook-move {
    from {
        left:100%;
        top:10%;
    }

    50% {
        left:85%;
        top:20%;
    }

    to {
        left:68%;
        top:30%;
        background-color:white;
        border:3px solid white;
        border-radius:10px;
    }
}

#animation-laptop {
    animation-name: laptop-move;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: absolute;
}

@keyframes laptop-move {
    from {
        left:100%;
        top:30%;
    }

    50% {
        left:85%;
        top:40%;
    }

    to {
        left:68%;
        top: 51%;
        background-color:white;
        border:3px solid white;
        border-radius:10px;
    }
}


#animation-calendar {
    animation-name: calendar-move;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-timing-function: linear;
    position: absolute;
}

@keyframes calendar-move {
    from {
        left:100%;
        top: 53%;
    }

    50% {
        left: 85%;
        top: 63.25%;
        
    }
    to {
        left: 68%;
        top: 75%;
        background-color:white;
        border:3px solid white;
        border-radius:10px;
    }
} unwanted portion*/

#hero-img span {
    color:transparent;
    /* border: 1px solid blue; */

}

#hidden {
    display:none;
}

@media (max-width: 850px) { 

    #navdiv {
        background-color: white;
        height:164px;
        
    }

    #navdiv nav{
    background-color:rgba(0,123,255,.1);
    height:auto;
    font-size: 16px;
    color: white;
    position: relative;
    width: 100%;
    z-index:1;
    }

    #navdiv #home-nav {
    float:none;
    margin-top: 15px !important;
    }

    #navdiv nav div{
    display: flex;
    flex-direction:column;
    justify-content: end;
    /* width:150px; */
    /* border: 1px solid white; */
    margin-top: 15px;
    margin-left: 15px;
    margin-right:15px;
    position:relative;
    height:1.6rem;

    }

    #navdiv nav div span {
    
        position: absolute;
        top:auto;
        left:10px;
        /* border: 1px blue solid; */
        text-align:left;
        line-height:15px;
    }

    #hero-img{
    background-color: white;
    position: relative;
    z-index:-1;
    height:400px;
    width:100%;
    }

    #hero-img .slider{
        display:none;
    }

    #hide {
        position:relative;
        display:inline-block;
        width:100%;
        height:auto;
        z-index: 0;
        padding-bottom: 0px;
        background-image: url("../images/wooden-surface-blue.jpg");
        background-size: cover;
    }

    #hide .slider2 {
        position: relative;
        top: 0%;
        overflow: hidden;
        filter: opacity(20%) contrast(800%) hue-rotate(360deg) ;
        transition: .3s ease-in-out;
        border-radius:0%;
        
      }
      
      #hide .slider-row2 {
          width: 1325px ;
          height: 290px;
          background-image: url("../images/myphoto/myphoto.jpg") ;
          background-size: 660px 290px;
          animation: slide 50s linear infinite ;   
          
      }
      
      #hide .slider-row2 div{
          background-color: rgba(0,123,255,0.6);
          background-size:cover;
          width:auto;
          height:290px;
          
      }
      
      #hide .slider2:hover {
          filter: opacity(100%);
      }
      
      #hide .slider-row2 div:hover{
        background-color: rgba(0,123,255,0);
      }
      
      @keyframes slide {
        from { background-position-x: 0; }
        to   { background-position-x: 660px; }
      }

}