
aside {
display: flex;
flex-direction:row;
justify-content: space-around;
align-items: center;
/* border:1px black solid; */
margin-top: 50px;
background-color: black;
min-height:18em;
font-family: 'Open Sans', sans-serif;
color: #777777;
font-weight:lighter;
}

#my-contact {
    
    /* border:1px solid blue; */
    height: auto;
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    background-color: white;
    border-radius:1em;
}

#contact-me {
    /* border:1px solid blue; */
    height:auto;
    margin: 0.5rem;
    width: 25rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    background-color: white;
    border-radius:1em;
    
}

/* #contact-me table td {
    width:30%;
} */

#contact-me-individual-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#contact-me-individual-row label {
    flex:1;
    text-align:center;
}

#contact-me-individual-row input {
    flex:2;
    text-align:center;
    
}

#contact-me-individual-row textarea {
    flex:2;
    text-align:center;
    
}





    


footer {
    background-color:black; 
    color:white; 
    text-align:center; 
    margin-top:30px; 
    margin-bottom:5px;
    font-size:small 
}

footer a {
    color:white;
}

footer a:hover {
    font-size:large;
    color:white;
}

footer span{
    font-size:x-small;
    padding-right:0.5rem;
    float:right;
    position:relative;
    top:10px;
}



@media (max-width: 750px) {
    aside {
        display: flex;
        flex-direction: column;
    }

    #contact-me {
    border:1px solid blue;
    height:auto;
    margin: 0.5rem;
    width: auto;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius:1em;
    }

}

@media (max-width:500px) {
    aside {
        margin-top:150px;
    }

}