
body {
    background-image: url("../images/color-wall.jpg");
    background-size: cover;
    
}

.nav-item:hover {
    background-color: rgba(31, 31, 75,0.1);
    
}



.carousel-item #skill-level div {
    
    margin-left:0;
    padding-left:0;
    
    
}

 @media (max-width:544px) {
.card-title {

    font-size: 1rem;
    
    }

.carousel-item #skill-level {
    font-size: 10px;
}




 }

@media (max-width:544px) {
    .card-text {
    
        font-size: 0.6rem;
        
    
        }
     }