
body {
    /* background-image: url("../images/color-wall.jpg"); 
    background-size: cover; */
    background-color: rgba(255, 239, 213,.5) !important;
}

#nav-secondary a:hover {
    background-color: rgba(52,58,64,.1);
    color: rgba(52,58,64);
    font-weight:bold !important;
     
}

.carousel-item #skill-level div {
    
    margin-left:0;
    padding-left:0;
    
    
}


.card {
    overflow:hidden;
}

.card img {
    transition: transform 0.35s;
    transform: scale(1)
}

.card:hover img {
    transform: scale(1.1);
}

/* .card-body h5 {
    transition: transform 0.35s;
    transform: translate3d(0,0,0);
}

.card-body h5:hover {
    transform:translate3d(0,-5px,0);
} */

.card figcaption {
    opacity:0;
    transition: opacity 0.35s;
    position:absolute;
    top:0;
    color:rgb(0,123,255);
    padding:1em;
    font-weight: normal;
    font-size:1rem;
    text-align:center;
    font-weight:bold;
    margin:auto;
    width:100%;
    height:105%;
    
}

.card:hover figcaption {
    opacity:1;
    
}

.card figure {
    position:relative;
}




 @media (max-width:544px) {
    /* .card-title {
    font-size: 1rem;
    }
    .card-text {
        font-size: 0.6rem;  
    } */
    .carousel-item #skill-level {
    font-size: 8px;
    align-content: space-around;
    }
}
