#aside {
    background-color:white;
}

aside {
display: flex;
flex-direction:row;
justify-content: space-around;
align-items: center;
/* border:1px black solid; */

background-color: rgba(0,123,255,.1);
min-height:18em;
font-family: 'Open Sans', sans-serif;
color: white;
font-weight:lighter;
}

#my-contact {
    
    /* border:1px solid blue; */
    /* transition: box-shadow .3s; */
    height: auto;
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    background-color: rgba(0,123,255);
    border-radius:1em;
    
}

/* #my-contact:hover {

    border:1px solid blue;
    box-shadow: 0 0 20px dodgerblue;

}  */


#contact-me {
    /* border:1px solid blue; */
    height:auto;
    margin: 0.5rem;
    width: 25rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    background-color: rgba(0,123,255);
    border-radius:1em;
    
    
}


/* #contact-me table td {
    width:30%;
} */

#contact-me-individual-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#contact-me-individual-row label {
    flex:1;
    text-align:center;
}

#contact-me-individual-row input {
    flex:2;
    text-align:center;
    
    
}

#contact-me-individual-row textarea {
    flex:2;
    text-align:center;
    
}






footer {
    background-color:white;
}

footer #footer {
    background-color:rgba(0,123,255,.1); 
    color:rgba(0,123,255); 
    text-align:center; 
    margin-top:30px; 
    padding-bottom:0.5px;
    margin-bottom:0.5px;
    font-family: 'Oswald', sans-serif;
    width:100%;
}

footer a {
    color:rgba(0,123,255);
}

footer a:hover {
    font-size:large;
    color:rgba(0,123,255);
}

footer span{
    font-size:x-small;
    padding-right:0.5rem;
    float:right;
    position:relative;
    top:10px;
}



@media (max-width: 750px) {
    aside {
        display: flex;
        flex-direction: column;
    }

    #contact-me {
    border:1px solid rgba(0,123,255);
    height:auto;
    margin: 0.5rem;
    width: auto;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius:1em;
    }

}

@media (max-width:500px) {
    aside {
        margin-top:150px;
    }

}